extends ../components/layout-default/layout-default
include ../components/index/services/services
include ../components/index/advantages/advantages
include ../components/index/packages/packages
include ../components/index/reviews/reviews
include ../components/index/partners/partners
include ../components/index/news/news

block head
    - var pageTitle = 'Index Page';

block content
